{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Manter Livros</title>
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    </head>
    <body>

        {% include "navbar.html" %}

        <div class="container">
            {% block content %}
            {% endblock %}
        </div>

        <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>  <!-- JQUERY HERE -->
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        {% block javascript %}
        {% endblock %}
    </body>
</html>
