{% load widget_tweaks %}

{% for field in form %}
    <div class="form-group {% if field.errors %} has-error {% endif %}">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {% render_field field class="form-control" %}
        {% for error in field.errors %}
            <p class="help-block">{{ error }}</p>
        {% endfor %}
    </div>
{% endfor %}

<!-- Dont Repeat Yourself, como iria usar esse trecho em dois locais deixei em um só -->
