{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block javascript %}
    <script src="{% static "js/livros.js" %}"></script>
{% endblock %}

{% block content %}


    <div id="languages">
        <table >
            <tr>
                {% get_available_languages as languages %}
                {% for key, item in languages %}
                    <td>
                        <form action="{% url 'set_language' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="language" value="{{key}}"/>
                            <input id="lang_select_{{key}}" type = "image" src="/media/img/{{ key }}.gif" alt="{{ item }}"/>
                        </form>
                    </td>
                {% endfor %}
            </tr>
        </table>
    </div>


    <h1 class="page-header">{% trans 'Livros' %}</h1>

    <p>
        <button type="button"
                class="btn btn-primary js-create-book"
                data-url="{% url 'livro_criar' %}">
                <span class="glyphicon glyphicon-plus"></span>
                {% trans 'Novo Livro' %}
        </button>
    </p>

    <table class="table" id="book-table">
        <thead>
            <tr>
                <th>#</th>
                <th>{% trans 'Título' %}</th>
                <th>{% trans 'Autor' %}</th>
                <th>{% trans 'Tipo' %}</th>
                <th>{% trans 'Data de Publicação' %}</th>
                <th>{% trans 'Quantidade Páginas' %}</th>
                <th>{% trans 'Preço' %}</th>
            </tr>
        </thead>
        <tbody>
            {% include "listaLivros.html" %}
        </tbody>
    </table>


    <div class="modal fade" id="modal-book">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>

{% endblock %}
